/* css样式初始化 */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {  
    margin: 0;
    padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

img {
	border: 0;
}

.showDom {
	display: block;
}

.hideDom {
	display: none;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.banxin {
	width: 1200px;
	margin: 0 auto;
}

.textAlignLeft {
	text-align: left;
}

.textAlignCenter {
	text-align: center;
}

.textAlignRight {
	text-align: right;
}

